.idea/

lab1lab1-1/bin
lab1/lab1-1/obj
lab1/lab1-1/lab1-1.csproj

lab1/lab1-2/bin
lab1/lab1-2/obj
lab1/lab1-2/lab1-2.csproj

lab1/lab1-3/bin
lab1/lab1-3/obj
lab1/lab1-3/lab1-3.csproj

lab1.sln
lab1/lab1-2/obj/rider.project.restore.info
lab1/lab1-2/obj/rider.project.model.nuget.info
lab1/lab1-2/obj/project.packagespec.json
lab1/lab1-2/obj/project.nuget.cache
lab1/lab1-2/obj/project.assets.json
lab1/lab1-2/obj/lab1-2.csproj.nuget.g.props
lab1/lab1-2/obj/lab1-2.csproj.nuget.dgspec.json
lab1/lab1-2/obj/Debug/net7.0/lab1-2.GeneratedMSBuildEditorConfig.editorconfig
lab1/lab1-2/obj/Debug/net7.0/lab1-2.assets.cache
lab1/lab1-2/lab1-2.csproj

lab3/lab3/bin
lab3/lab3/obj
lab3/lab3/lab3.csproj